{% extends 'webapp/base.html' %}

{% block title %}Change Password{% endblock %}

{% block custom_head %}
    {% load bootstrap3 %}
{% endblock %}

{% block header %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Change Password</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-6">
            <div class="well bs-component">
                <form method="post" id="login-form">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}" />
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}