{% extends 'webapp/base.html' %}

{% block title %}Password Reset Sent{% endblock %}

{% block custom_head %}
    {% load bootstrap3 %}
{% endblock %}

{% block header %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Password Reset Sent</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-6">
            <div class="well bs-component">
                <p>
                    We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                    <br>
                    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}