<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Secret Santa</title>

    {# Load django static files #}
    {% load static %}

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'webapp/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/custom.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}">
    {% bootstrap_javascript %}

    {% block custom_head %}{% endblock %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        {% block navbar %}
            <div class="container">
            <div class="navbar-header">
                    <a href="{% url 'index' %}" class="navbar-brand">Secret Santa</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'group_list' %}">Your Groups</a></li>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">{{ user.get_full_name }} ({{ user.username }}) <span class="caret"></span></a>
                                <ul class="dropdown-menu" aria-labelledby="themes">
                                    <li><a href="#">Edit Profile</a></li>
                                    <li><a href="#">Change Password</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="page-header">
        {% block header %}{% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>