<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Secret Santa</title>

    {# Load django static files #}
    {% load static %}

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'webapp/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/custom.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}">
    {% bootstrap_javascript %}

    {# X-editable for bootstrap #}
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    {% block custom_head %}{% endblock %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        {% block navbar %}
            <div class="container">
            <div class="navbar-header">
                    <a href="{% url 'index' %}" class="navbar-brand">Secret Santa</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'how_it_works' %}">How It Works</a></li>
                        {% if request.user.is_authenticated %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="exchanges-menu">Your Exchanges <span class="caret"></span></a>
                                <ul class="dropdown-menu" aria-labelledby="exchanges-menu">
                                    {% for person_group in user.person_groups.all %}
                                        {% for user_exchange in person_group.exchanges.all %}
                                            <li><a href="{% url 'exchange_detail' user_exchange.pk %}">{{ user_exchange.name }}</a></li>
                                        {% endfor %}
                                    {% endfor %}
                                    <li><a href="{% url 'exchange_create' %}">New exchange...</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'group_list' %}">Your Groups</a></li>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="user-options-menu">{{ user.get_full_name }} ({{ user.username }}) <span class="caret"></span></a>
                                <ul class="dropdown-menu" aria-labelledby="user-options-menu">
                                    <li><a href="#">Edit Profile</a></li>
                                    <li><a href="{% url 'password_change' %}">Change Password</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="page-header">
        {% block header %}{% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
    {% block footer %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled">
                        <li class="pull-right"><a href="#top">Back to top</a></li>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'how_it_works' %}">How It Works</a></li>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                        <li><a href="{% url 'api-root' %}" target='_blank'>API</a></li>
                        <li><a href="https://github.com/j-bro/secret-santa-reboot/" target='_blank'>GitHub</a></li>
                    </ul>
                    <p>Made by <a href="https://github.com/j-bro" rel="nofollow" target='_blank'>Jeremy Brown</a>.</p>
                    <p>View the code on <a href="https://github.com/j-bro/secret-santa-reboot" target='_blank'>Github</a>. Released under the <a href="https://github.com/j-bro/secret-santa-reboot/blob/gh-pages/LICENSE" target='_blank'>MIT License</a>.</p>
                    <p>Based on the <a href="http://getbootstrap.com" rel="nofollow" target='_blank'>Bootswatch</a> Flatly theme by <a href="https://thomaspark.co" rel="nofollow" target='_blank'>Thomas Park</a>.</p>
                </div>
            </div>
        </div>
    {% endblock %}
    </footer>

</body>
</html>