{% extends 'webapp/base.html' %}

{% block title %}How It Works{% endblock %}

{% block header %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>How It Works</h1>

                <div class="well bs-component">
                    <h3>The Idea</h3>
                    <p>

                    </p>

                    <h3>Set-Up</h3>
                    <p>
                        The person who will manage the group first creates an account. From there, he/she can start a
                        group and add members to it using their email addresses. With everyone added to the group, the
                        manager creates an exchange, specifying the price cap and the date of the exchange. An email is
                        sent to all the members of the group with instructions on how to join the exchange.
                    </p>
                    <p>
                        Once all the group members have joined the exchange, the group manager will be able to activate
                        the exchange. At this point, the draw will be performed and each member will be assigned another
                        member for which they are the secret santa.
                    </p>

                    <h3>The Exchange</h3>
                    <p>
                        Up until the date of the exchange, members can add items to their gift and log in to view
                        the person they have drawn.
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">

    </div>
{% endblock %}
